<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>КАЛЕНДАРЬ ПРОЕКТА</title>
</head>
<body>
<h1 style="color: darkblue">ДОБРО ПОЖАЛОВАТЬ В СЕРВИС ФОРМИРОВАНИЯ</h1>
<h1 style="color: darkblue">КАЛЕНДАРНЫХ СРОКОВ ДОГОВОРА!</h1><br>
<h2>Выберете ведущий тип объекта проектирования</h2><br>
<a th:href="@{/oil_pad_object}"><h3>Обустройство кустовой площадки</h3></a>
<a th:href="@{/tech_object}"><h3>Технологическая площадка</h3></a>
<a th:href="@{/linear_object}"><h3>Линейный объект</h3></a>
<a th:href="@{/areaObject}"><h3>Инфраструктурный объект</h3></a>
<a th:href="@{/energy_facility}"><h3>Объект энергетики</h3></a>
</body>
</html>